<div class="banners">
    <div class="banner_1 main_banner">
        <div class="text_wrapper">
            <p class="title"><strong>در حال جستجو</strong>&nbsp;برای یک ماشین؟</p>
            <p class="desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
        </div>
        <a href="#">جستجو کردن</a>
    </div>
    <div class="banner_2 main_banner">
        <div class="text_wrapper">
            <p class="title">برای فروش یک ماشین اقدام کنید؟</p>
            <p class="desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
        </div>
        <a href="/CreateAdv">فروختن</a>
    </div>
</div>
