<div class="news_wrapper">
    <div class="news">
        <h2><strong>Auto</strong> news</h2>
        <div class="news_box">
            <a href="#" class="thumb">
                <img src="/Content/images/placeholders/180x135.gif" alt="" />
            </a>
            <h5><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </a></h5>
            <div class="date">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </div>
            <div class="post">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
            </div>
        </div>
        <div class="news_box bottom">
            <a href="#" class="thumb">
                <img src="/Content/images/placeholders/180x135.gif" alt="" />
            </a>
            <h5><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </a></h5>
            <div class="date">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </div>
            <div class="post">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
            </div>
        </div>
        <div class="all_wrapper"><a href="#" class="all_news">اخبار</a></div>
    </div>
</div>