
@{
    ViewBag.Title = "Index";
}

<div class="wrapper_1">
    @Html.Action("Slider")
    @Html.Action("Search")
</div>
<div class="clear"></div>
@Html.Action("LastCars")
@Html.Action("Banner")
<div class="wrapper_2">
    <h2>Index</h2>
</div>
