<div class="recent" dir="ltr">
    <h2><strong>اخیر</strong> لیست</h2>
    <div class="bx-wrapper" style="max-width: 940px;">
        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 164px;">
            <div class="recent_carousel" style="width: 2580%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                <div class="slide" style="float: left; list-style: outside none none; position: relative; width: 220px; margin-right: 20px;">
                    <a href="#">
                        <img src="/Content/images/placeholders/220x164.gif" alt="">
                        <div class="description">ثبت نام 2010<br>3.0 Diesel<br>230 HP<br>Body Coupe<br>80 000 مایل</div>
                        <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
                    </a>
                </div>
                <div class="slide" style="float: left; list-style: outside none none; position: relative; width: 220px; margin-right: 20px;">
                    <a href="#">
                        <img src="/Content/images/placeholders/220x164.gif" alt="">
                        <div class="description">ثبت نام 2010<br>3.0 Diesel<br>230 HP<br>Body Coupe<br>80 000 مایل</div>
                        <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
                    </a>
                </div>
                <div class="slide" style="float: left; list-style: outside none none; position: relative; width: 220px; margin-right: 20px;">
                    <a href="#">
                        <img src="/Content/images/placeholders/220x164.gif" alt="">
                        <div class="description">ثبت نام 2010<br>3.0 Diesel<br>230 HP<br>Body Coupe<br>80 000 مایل</div>
                        <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
                    </a>
                </div>
                <div class="slide" style="float: left; list-style: outside none none; position: relative; width: 220px; margin-right: 20px;">
                    <a href="#">
                        <img src="/Content/images/placeholders/220x164.gif" alt="">
                        <div class="description">ثبت نام 2010<br>3.0 Diesel<br>230 HP<br>Body Coupe<br>80 000 مایل</div>
                        <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
                    </a>
                </div>
                <div class="slide" style="float: left; list-style: outside none none; position: relative; width: 220px; margin-right: 20px;">
                    <a href="#">
                        <img src="/Content/images/placeholders/220x164.gif" alt="">
                        <div class="description">ثبت نام 2010<br>3.0 Diesel<br>230 HP<br>Body Coupe<br>80 000 مایل</div>
                        <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
                    </a>
                </div>
                <div class="slide" style="float: left; list-style: outside none none; position: relative; width: 220px; margin-right: 20px;">
                    <a href="#">
                        <img src="/Content/images/placeholders/220x164.gif" alt="">
                        <div class="description">ثبت نام 2010<br>3.0 Diesel<br>230 HP<br>Body Coupe<br>80 000 مایل</div>
                        <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
                    </a>
                </div>
                <div class="slide" style="float: left; list-style: outside none none; position: relative; width: 220px; margin-right: 20px;">
                    <a href="#">
                        <img src="/Content/images/placeholders/220x164.gif" alt="">
                        <div class="description">ثبت نام 2010<br>3.0 Diesel<br>230 HP<br>Body Coupe<br>80 000 مایل</div>
                        <div class="title">مرسدس بنز<span class="price">$ 115 265</span></div>
                    </a>
                </div>
                <div class="slide" style="float: left; list-style: outside none none; position: relative; width: 220px; margin-right: 20px;">
                    <a href="#">
                        <img src="/Content/images/placeholders/220x164.gif" alt="">
                        <div class="description">ثبت نام 2010<br>3.0 Diesel<br>230 HP<br>Body Coupe<br>80 000 مایل</div>
                        <div class="title">مرسدس بنز<span class="price">$ 115 265</span></div>
                    </a>
                </div>
                <div class="slide" style="float: left; list-style: outside none none; position: relative; width: 220px; margin-right: 20px;">
                    <a href="#">
                        <img src="/Content/images/placeholders/220x164.gif" alt="">
                        <div class="description">ثبت نام 2010<br>3.0 Diesel<br>230 HP<br>Body Coupe<br>80 000 مایل</div>
                        <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
                    </a>
                </div>
                <div class="slide" style="float: left; list-style: outside none none; position: relative; width: 220px; margin-right: 20px;">
                    <a href="#">
                        <img src="/Content/images/placeholders/220x164.gif" alt="">
                        <div class="description">ثبت نام 2010<br>3.0 Diesel<br>230 HP<br>Body Coupe<br>80 000 مایل</div>
                        <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
                    </a>
                </div>
                <div class="slide" style="float: left; list-style: outside none none; position: relative; width: 220px; margin-right: 20px;">
                    <a href="#">
                        <img src="/Content/images/placeholders/220x164.gif" alt="">
                        <div class="description">ثبت نام 2010<br>3.0 Diesel<br>230 HP<br>Body Coupe<br>80 000 مایل</div>
                        <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
                    </a>
                </div>
                <div class="slide" style="float: left; list-style: outside none none; position: relative; width: 220px; margin-right: 20px;">
                    <a href="#">
                        <img src="/Content/images/placeholders/220x164.gif" alt="">
                        <div class="description">ثبت نام 2010<br>3.0 Diesel<br>230 HP<br>Body Coupe<br>80 000 مایل</div>
                        <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
                    </a>
                </div>
            </div>
        </div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev disable" href="">Prev</a><a class="bx-next" href="">Next</a></div></div>
    </div>
</div>
