<div class="recent" dir=ltr>
    <h2><strong>اخیر</strong> لیست</h2>
    <div class="recent_carousel">
        <div class="slide">
            <a href="#">
                <img src="/Content/images/placeholders/220x164.gif" alt="" />
                <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 مایل</div>
                <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
            </a>
        </div>
        <div class="slide">
            <a href="#">
                <img src="/Content/images/placeholders/220x164.gif" alt="" />
                <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 مایل</div>
                <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
            </a>
        </div>
        <div class="slide">
            <a href="#">
                <img src="/Content/images/placeholders/220x164.gif" alt="" />
                <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 مایل</div>
                <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
            </a>
        </div>
        <div class="slide">
            <a href="#">
                <img src="/Content/images/placeholders/220x164.gif" alt="" />
                <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 مایل</div>
                <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
            </a>
        </div>
        <div class="slide">
            <a href="#">
                <img src="/Content/images/placeholders/220x164.gif" alt="" />
                <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 مایل</div>
                <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
            </a>
        </div>
        <div class="slide">
            <a href="#">
                <img src="/Content/images/placeholders/220x164.gif" alt="" />
                <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 مایل</div>
                <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
            </a>
        </div>
        <div class="slide">
            <a href="#">
                <img src="/Content/images/placeholders/220x164.gif" alt="" />
                <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 مایل</div>
                <div class="title">مرسدس بنز<span class="price">$ 115 265</span></div>
            </a>
        </div>
        <div class="slide">
            <a href="#">
                <img src="/Content/images/placeholders/220x164.gif" alt="" />
                <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 مایل</div>
                <div class="title">مرسدس بنز<span class="price">$ 115 265</span></div>
            </a>
        </div>
        <div class="slide">
            <a href="#">
                <img src="/Content/images/placeholders/220x164.gif" alt="" />
                <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 مایل</div>
                <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
            </a>
        </div>
        <div class="slide">
            <a href="#">
                <img src="/Content/images/placeholders/220x164.gif" alt="" />
                <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 مایل</div>
                <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
            </a>
        </div>
        <div class="slide">
            <a href="#">
                <img src="/Content/images/placeholders/220x164.gif" alt="" />
                <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 مایل</div>
                <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
            </a>
        </div>
        <div class="slide">
            <a href="#">
                <img src="/Content/images/placeholders/220x164.gif" alt="" />
                <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 مایل</div>
                <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
            </a>
        </div>
    </div>
</div>