<div class="recent_blog">
    <h2><strong><a href="/Blog/Index">وب لاگ ها</a></strong></h2>
    <div class="post_block">
        <a href="#" class="thumb"><img src="images/placeholders/180x135.gif" alt=""/></a>
        <h5><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</a></h5>
        <div class="date">لورم ایپسوم متن ساختگی</div>
        <div class="post"><p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p></div>
    </div>
    <div class="post_block">
        <a href="#" class="thumb"><img src="images/placeholders/180x135.gif" alt=""/></a>
        <h5><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</a></h5>
        <div class="date">لورم ایپسوم متن ساختگی </div>
        <div class="post"><p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p></div>
    </div>
    <div class="post_block last">
        <a href="#" class="thumb"><img src="images/placeholders/180x135.gif" alt=""/></a>
        <h5><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</a></h5>
        <div class="date">لورم ایپسوم متن ساختگی </div>
        <div class="post"><p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p></div>
    </div>
    <div class="clear"></div>
</div>
