
<div class="search_auto_wrapper">
    <div class="search_auto">
        <h3><strong>جستجو کردن</strong> خودکار</h3>
        <div class="clear"></div>
        @using (Html.BeginForm("Car","List",FormMethod.Get))
        {
            <label><strong>سازنده:</strong></label>
            <div class="select_box_1">
                @Html.DropDownList("ManufacturerId", null, new { @class = "select_1", onchange = "GetModel(this.value)", @id = "ddlManufacturer" })
            </div>
            <label><strong>مدل:</strong></label>
            <div class="select_box_1">
                @Html.DropDownList("ModelId", null, new { @class = "select_1", @id = "ddlModel" })
            </div>
            <input class="btn_search" type="submit" value="جستجو"/>
        }

        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>


