<div class="search_auto_wrapper">
    <div class="search_auto">
        <h3><strong>جستجو کردن</strong> خودکار</h3>
        <div class="clear"></div>
        <label><strong>سازنده:</strong></label>
        <div class="select_box_1">
            @Html.DropDownList("ManufacturerId", null, new { @class = "select_1", onchange = "GetModel(this.value)" })
        </div>
        <label><strong>مدل:</strong></label>
        <div class="select_box_1">
            <select class="select_1" id="ddlModel">
                <option value="0">مدل</option>
            </select>
        </div>
        <button class="btn_search">جستجو</button>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>


