<div class="search_auto_wrapper">
    <div class="search_auto">
        <h3>جستجو کردن</h3>
        <div class="clear"></div>
        <label><strong>سازنده:</strong></label>
        <div class="select_box_1">
            <select class="select_1">
                <option value="0">هر</option>
                <option value="1">آئودی</option>
                <option value="2">مرسدس بنز</option>
                <option value="3">بی ام و</option>
                <option value="4">لکسوس</option>
                <option value="5">لینکلن</option>
                <option value="6">گدار</option>
                <option value="7">حکم</option>
                <option value="8">Dodge</option>
            </select>
        </div>
        <label><strong>مدل:</strong></label>
        <div class="select_box_1">
            <select class="select_1">
                <option value="0">Any</option>
                <option value="1">R8</option>
                <option value="2">S500</option>
                <option value="3">540i</option>
                <option value="4">RX300</option>
                <option value="5">Navigator</option>
                <option value="6">Taurus</option>
                <option value="7">Doblo</option>
                <option value="8">Viper</option>
            </select>
        </div>
        <label><strong>سال:</strong></label>
        <div class="select_box_2">
            <select class="select_2">
                <option value="0">از</option>
                <option value="1">2013</option>
                <option value="2">2012</option>
                <option value="3">2011</option>
                <option value="4">2010</option>
                <option value="5">2009</option>
                <option value="6">2008</option>
                <option value="7">2007</option>
                <option value="8">2006</option>
            </select>
            <select class="select_2">
                <option value="0">به</option>
                <option value="1">2013</option>
                <option value="2">2012</option>
                <option value="3">2011</option>
                <option value="4">2010</option>
                <option value="5">2009</option>
                <option value="6">2008</option>
                <option value="7">2007</option>
                <option value="8">2006</option>
            </select>
            <div class="clear"></div>
        </div>
        <label><strong>قیمت:</strong></label>
        <div class="select_box_2">
            <select class="select_2">
                <option value="0">از</option>
                <option value="1">1000</option>
                <option value="2">2000</option>
                <option value="3">3000</option>
                <option value="4">4000</option>
                <option value="5">5000</option>
                <option value="6">6000</option>
                <option value="7">7000</option>
                <option value="8">8000</option>
            </select>
            <select class="select_2">
                <option value="0">به</option>
                <option value="1">1000</option>
                <option value="2">2000</option>
                <option value="3">3000</option>
                <option value="4">4000</option>
                <option value="5">5000</option>
                <option value="6">6000</option>
                <option value="7">7000</option>
                <option value="8">8000</option>
            </select>
            <div class="clear"></div>
        </div>
        <label><strong>مسافت پیموده:</strong></label>
        <div class="select_box_2">
            <select class="select_2">
                <option value="0">از</option>
                <option value="1">1000</option>
                <option value="2">2000</option>
                <option value="3">3000</option>
                <option value="4">4000</option>
                <option value="5">5000</option>
                <option value="6">6000</option>
                <option value="7">7000</option>
                <option value="8">8000</option>
            </select>
            <select class="select_2">
                <option value="0">به</option>
                <option value="1">1000</option>
                <option value="2">2000</option>
                <option value="3">3000</option>
                <option value="4">4000</option>
                <option value="5">5000</option>
                <option value="6">6000</option>
                <option value="7">7000</option>
                <option value="8">8000</option>
            </select>
            <div class="clear"></div>
        </div>

        <input type="submit" value="Search" class="btn_search" />
        <div class="clear"></div>
    </div>
</div>
