@using AutoDealer
@model IEnumerable<AutoDealer.Services.DTO.Advertise.SliderDto>


<div class="slider_wrapper">
    <div class="home_slider" dir=ltr>
        <div class="slider slider_1">
            @foreach (var item in Model)
            {
                <div class="slide">
                    <img src="@(ImagePath.Imagepath+item.ImageName)" alt=""/>
                    <div class="description">
                        <h2 class="title">@item.Title</h2>
                        <p class="desc"><span><strong>کیلومتر: </strong>@item.Trip</span></p>
                        <div class="price">@item.Price.ToString("0,#")</div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>