<div class="video_box">
    <h2><strong>تصویری</strong> بررسی</h2>
    <div class="post_block">
        <div class="preview">
            <a href="http://player.vimeo.com/video/54510052">
                <img src="/Content/images/placeholders/180x115.gif" alt="">
                <span class="hover"></span>
                <img src="/Content/images/video_play.png" alt="" class="video_play">
            </a>
        </div>
        <h5><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </a></h5>
        <div class="post"><p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p></div>
    </div>
    <div class="post_block">
        <div class="preview">
            <a href="http://player.vimeo.com/video/13412780">
                <img src="/Content/images/placeholders/180x115.gif" alt="">
                <span class="hover"></span>
                <img src="/Content/images/video_play.png" alt="" class="video_play">
            </a>
        </div>
        <h5><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </a></h5>
        <div class="post"><p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p></div>
    </div>
    <div class="post_block last">
        <div class="preview">
            <a href="http://player.vimeo.com/video/22884674">
                <img src="/Content/images/placeholders/180x115.gif" alt="">
                <span class="hover"></span>
                <img src="/Content/images/video_play.png" alt="" class="video_play">
            </a>
        </div>
        <h5><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </a></h5>
        <div class="post"><p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p></div>
    </div>
    <div class="clear"></div>
</div>
