<ul>
    <li>
        <a href="#">
            <img src="images/placeholders/220x164.gif" alt="" />
            <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 Miles</div>
            <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="images/placeholders/220x164.gif" alt="" />
            <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 Miles</div>
            <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="images/placeholders/220x164.gif" alt="" />
            <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 Miles</div>
            <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
        </a>
    </li>
    <li class="last">
        <a href="#">
            <img src="images/placeholders/220x164.gif" alt="" />
            <div class="description">ثبت نام 2010<br />3.0 Diesel<br />230 HP<br />Body Coupe<br />80 000 Miles</div>
            <div class="title">مرسدس بنز <span class="price">$ 115 265</span></div>
        </a>
    </li>
</ul>
