@{
    ViewBag.Title = "پنل مدیریت";
}

<div id="list">

</div>
<script src="~/Areas/Admin/Content/js/jquery.min.js"></script>
<script src="~/Areas/Admin/Content/HomeJS/LoadList.js"></script>
<script src="~/Areas/Admin/Content/CarJS/Car.js"></script>