<div class="page-sidebar" id="sidebar">
    <ul class="nav sidebar-menu">
        <li>
            <a href="/Admin">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> داشبورد </span>
            </a>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text">
                    مدیریت اسلایدر
                </span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu" style="display: none;">
                <li>
                    <a href="#">
                        <span class="menu-text">لیست</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">افزودن</span>
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text">
                    مدیریت کاربران
                </span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu" style="display: none;">
                <li>
                    <a href="#">
                        <span class="menu-text">لیست</span>
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text">
                    مدیریت خوانده ها
                </span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu" style="display: none;">
                <li>
                    <a href="#">
                        <span class="menu-text">لیست</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">افزودن</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-rss"></i>
                <span class="menu-text">
                    تست
                </span>
                <i class="menu-expand"></i>
            </a>
        </li>
    </ul>
</div>

