<div class="page-sidebar" id="sidebar">
    <ul class="nav sidebar-menu">
        <li>
            <a href="/Admin">
                <i class="menu-icon glyphicon glyphicon-dashboard"></i>
                <span class="menu-text"> داشبورد </span>
            </a>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text">
                    مدیریت سازنده
                </span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu" style="display: none;">
                <li>
                    <a href="@Url.Action("Index","Manufacturers")">
                        <span class="menu-text">لیست</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Create","Manufacturers")">
                        <span class="menu-text">افزودن</span>
                    </a>
                </li>

            </ul>
        </li>
    </ul>
</div>

